<div class="top-bar fixed">
    <div class="top-bar-left"><a class="button clear">Request</a><a class="button clear">Response</a><a class="button primary">Action Closure</a></div>
    <div class="top-bar-right"> <span class="success">Status: Completed</span><a href="#" class="button secondary clear"><i class="fa fa-print" aria-hidden="true"></i> Print</a>
        <button class="button clear close-form" data-close aria-label="Close modal" type="button"> <span aria-hidden="true">&times;</span> </button>
    </div>
</div>